body {
    font-family: sans-serif;
    background-color:#4F5B45;}

header {
    font-size:30px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Pic_I_V_Ivasiuk_Mykola_Bohdan_Khmelnytskys_Entry_to_Kyiv.jpg/640px-Pic_I_V_Ivasiuk_Mykola_Bohdan_Khmelnytskys_Entry_to_Kyiv.jpg);
    text-align:center;
    color: #172a18;
    font-family:FreeMono, monospace;
    padding: 15px;
    border-radius: 15px;}

header img{
   width: 600px;
   float: left;}

header h4{
    font-size: 20px;
    text-align: right;
    margin: 5px;
    color:#E9F4DD;
    font-family: FreeMono, monospace;
    -webkit-text-stroke: 1px #57644c;}

 .limpa {
    background-color: #859763;
    border-radius:20px;
    border: 3px solid #4F5B45;
}

header h2{
    font-size: 30px;
    text-align: center;
    color:#E9F4DD;
    -webkit-text-stroke: 2px #454e3d;
    font-family:FreeMono, monospace;
    padding: 5px;
    box-shadow: 3px 3px 3px 3px #5d6a52;
    background-color: #859763;
    border-radius:20px;
    border: 3px solid #4F5B45;}

.menu-his{
    background-color: #CAEEA8;
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    font-family:FreeMono, monospace;
    display: flex;
    justify-content: flex-end;}

    .menu a:hover {
            background-color: #454e3d;
            color: #000000;
        }

header a{
    color:black;
    background-color: #DEECD0;
    font-family:Courier, monospace;
    text-decoration:none;
    font-size: 20px;
    border: 3px solid #4F5B45;
    border-radius: 10px;
    padding: 7px;
    margin:10px 25px 10px 25px;
    text-align: center;}

nav{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid #4F5B45;
    padding: 15px;}

.sas{
   flex-wrap: wrap;  
    opacity: 0.5; }
.sas:hover {
    opacity: 1;
    transition: 0.5s ease-out;}

.sus{
   flex-wrap: wrap;  
    opacity: 0.5; }
.sus:hover {
    opacity: 1;
    transition: 0.5s ease-out;}

.sos{
   flex-wrap: wrap;  
    opacity: 0.5; }
.sos:hover {
    opacity: 1;
    transition: 0.5s ease-out;}



.kent {
    background-image: linear-gradient(#9baf86,#c2e0a3, #9baf86);
    border: 3px solid #3E4538;
    border-radius:15px;
    margin: 30px 5px 30px 5px;} 

.kent h3{
    background-color: #5F6D54;
    color:#E4FFCD ;
    width: 250px;
    font-size:25px;
    margin: 15px;}  

.kent p{
    text-align:left;
    font-size:20px;
    padding: 15px 10px 15px 10px;
    color: #3E4538;
    margin: 10px;}  

.val{
    background-image: linear-gradient(#9baf86,#c2e0a3, #9baf86);
    border: 3px solid #3E4538;
    border-radius:15px;
    margin: 30px 5px 30px 5px;}
.val h3{
    background-color: #5F6D54;
    color:#E4FFCD ;
    width: 250px;
    font-size:25px;
    margin: 15px;}
.val p{
    text-align:left;
    font-size:20px;
    padding: 15px 10px 15px 10px;
    color: #3E4538;
    margin: 10px;   
    }
    
.aim{
    background-image: linear-gradient(#9baf86,#c2e0a3, #9baf86);
    border: 3px solid #3E4538;
    border-radius:15px;
    margin: 30px 5px 30px 5px;}
    
.aim h3{
    background-color: #5F6D54;
    color:#E4FFCD ;
    width: 250px;
    font-size:25px;
    margin: 15px;}
.aim p{
    text-align:left;
    font-size:20px;
    padding: 15px 10px 15px 10px;
    color: #3E4538;
    margin: 10px;} 
    
.go{
    text-align:center;
    font-size:20px;
    background-image: linear-gradient(#7b8c5c,#859763,#7b8c5c);
    border: 3px dotted #3E4538;
    border-radius:30px;
    padding: 10px;
    color: #F1F7CD;
    margin: 10px;}       

.sd{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:1450px;
    height: 200px;
    margin:20px 20px 20px 20px;
    text-align: center;}

footer {
    font-size:15px;
    background-color:#7B8C6A;
    text-align:left;
    color: #172a18;
    font-family:FreeMono, monospace;
    padding: 15px;
    border-radius: 15px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Pic_I_V_Ivasiuk_Mykola_Bohdan_Khmelnytskys_Entry_to_Kyiv.jpg/640px-Pic_I_V_Ivasiuk_Mykola_Bohdan_Khmelnytskys_Entry_to_Kyiv.jpg);
}

footer p {
    background-color: #E9F4DD;
    color: black;
    padding: 15px;}
